global:
  user: "ec2-user"
  ssh_port: 22
  deploy_dir: "/DATA/tidb-deploy"
  data_dir: "/DATA/tidb-data"
server_configs: {}
pd_servers:
{% for ip in PD_IPS %}
  - host: {{ ip }}
{% endfor %}
tikv_servers:
{% for ip in KV_IPS %}
  - host: {{ ip }}
{% endfor %}
