[Unit]
Description=dm-worker service
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
LimitNOFILE=1000000
LimitSTACK=10485760
User={{TIDB_USER}}
ExecStart=/opt/dm-v2.0.4-linux-amd64/bin/dm-worker --worker-addr=0.0.0.0:8286 --advertise-addr=127.0.0.1:8286 --config=/var/dm/dm-worker.toml
Restart=always

RestartSec=15s

[Install]
WantedBy=multi-user.target
